frontend/logs
frontend/*.log
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/pnpm-debug.log*
frontend/lerna-debug.log*

frontend/node_modules
frontend/.env
frontend/dist
frontend/dist-ssr
frontend/*.local

backend/target
backend/.factorypath
backend/.classpath
backend/.project
backend/HELP.md

# Editor directories and files
*.sw?
